.dynamicTable {
  @apply w-full border-collapse text-center;
}

.dynamicTable th,
.dynamicTable td {
  @apply py-2 px-2 text-blue-gray-500 dark:text-gray-400;
}

.dynamicTable th {
  @apply text-blue-gray-300;
}

.dynamicTable td .overflow-row{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin: auto;
}

.dynamicTable thead {
  @apply bg-blue-gray-800;
}

.dynamicTable tbody tr:nth-child(2n) {
  @apply bg-table-row-striped;
}

.dynamicTable tbody tr:nth-child(2n + 1) {
  @apply bg-table-row-un-striped;
}
